---
import App from '../components/App';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>✋ Don't at any time consider</title>
    <link rel="stylesheet" href="./main.css" />
  </head>
  <body>
    <div id="tiles"></div>
    <App client:load />
    <script src='../scripts/tiles.js'></script>
  </body>
</html>

<style is:global lang="scss" >
  @import url('https://fonts.googleapis.com/css2?family=Kumar+One+Outline&display=swap');

  .main {
    color: white;
    font-family: monospace;
    padding: 2em;
    background: rgba(0,0,0,0.7);
    // border-radius: 8px;
    // border-width: 2px;
    // border-style: solid;
    // border-image: linear-gradient(120deg, var(--g1), var(--g2)) 1 1;
  }

  h1 {
    font-size: 3em;
    font-family: 'Kumar One Outline', cursive;
    opacity: 1;
  }

  p,
  button {
    font-size: 2em;
    font-family: monospace;
  }
</style>
