---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>✋ Don't at any time consider</title>
    <link rel="stylesheet" href="./main.css" />
  </head>
  <body>
    <div id="tiles"></div>
    <header class="centered">
      <h1>Don't at any time consider</h1>
      <p>a spiritual successor to neverthink</p>
      <button>get started</button>
    </header>
    <script>
      const wrapper = document.getElementById('tiles');

      let columns = 0,
        rows = 0;

      const createTile = (index: number) => {
        const tile = document.createElement('div');

        tile.classList.add('tile');

        tile.style.opacity = '1';

        setInterval(() => {
          const colors = [
            '#AAF200',
            '#00B4FF',
            '#FF00B4',
            '#FFB400',
            '#B400FF',
          ];
          tile.style.backgroundColor = colors[Math.floor(Math.random() * 5)];
        }, 100);

        return tile;
      };

      const createTiles = (quantity: number) => {
        Array.from(Array(quantity)).map((tile, index) => {
          wrapper.appendChild(createTile(index));
        });
      };

      const createGrid = () => {
        wrapper.innerHTML = '';

        const size = document.body.clientWidth > 800 ? 50 : 40;

        columns = Math.floor(document.body.clientWidth / size);
        rows = Math.floor(document.body.clientHeight / size);

        wrapper.style.setProperty('--columns', columns);
        wrapper.style.setProperty('--rows', rows);

        createTiles(columns * rows);
      };

      createGrid();

      window.onresize = () => createGrid();
    </script>
  </body>
</html>

<style lang="scss">
  @import url('https://fonts.googleapis.com/css2?family=Kumar+One+Outline&display=swap');

  header {
    color: white;
    font-family: monospace;
    padding: 2em;
    background: rgba(0,0,0,0.7);
    // border-radius: 8px;
    // border-width: 2px;
    // border-style: solid;
    // border-image: linear-gradient(120deg, var(--g1), var(--g2)) 1 1;
  }

  h1 {
    font-size: 3em;
    font-family: 'Kumar One Outline', cursive;
    opacity: 1;
  }

  p,
  button {
    font-size: 2em;
    font-family: monospace;
  }
</style>
